<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mymood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=none">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="author" content="marazmen">
    <link rel="stylesheet" href="styles/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
</head>
<body>
<div id="app">
    <header>
        <div class="header-top" v-show="!ageConfirm">
            <div class="logo">
                <div class="logo-row">
                    <img src="assets/images/logo.svg" alt="" class="logo-img"/>
                    <div class="logo-text">Живое общение с моделями</div>
                    <div class="age">18+</div>
                </div>
            </div>
            <div class="search">
                <div class="search-icon">
                    <img src="assets/images/search.svg" alt=""/>
                </div>
                <div class="search-text">
                    Поиск по моделям
                </div>
            </div>
        </div>
        <div class="header-fixed" v-show="ageConfirm">
            <div class="back">
                <div class="icon-back"><img src="assets/images/back.svg" alt=""></div>
                <div class="text-back">назад</div>
            </div>
            <div class="logo">
                <div class="logo-row">
                    <img src="assets/images/logo.svg" alt="" class="logo-img"/>
                    <div class="age">18+</div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" v-show="ageConfirm">
        <div class="screen">
            <div class="play">
                <img src="assets/images/play.svg" alt=""/>
            </div>
            <div class="main-title">
                Просмотр 18+
            </div>
            <div class="subtitle center">
                Подтвердите, чтобы посмотреть или
                написать сообщение
            </div>
            <form id="finalize"
                  action="/route"
                  method="post"
                  v-show="ageConfirm">
                <div class="form-group">
                    <input type="hidden" name="_token" :value="csrfToken">
                    <input type="hidden" name="promoter_id" :value="promoterId">
                    <input type="hidden" name="result" value="subscribed">
                </div>
                <button class="btn" @click="" v-show="ageConfirm">
                    <span class="text">ПРОДОЛЖИТЬ</span>
                    <span class="btn-icon"><img src="assets/images/arrow.svg" alt=""></span>
                </button>
            </form>
        </div>
        <div class="price">
            Стоимость 30Р/сутки со счета билайн
        </div>
        <div class="subprice">
            <div class="icons-row">
                <div class="subprice-icon"><img src="assets/images/share.svg" alt=""></div>
            </div>
            <div class="subprice-text">
                Видео 1 из 2
            </div>
            <div class="icons-row">
                <div class="subprice-icon"><img src="assets/images/trash.svg" alt=""></div>
                <div class="subprice-icon"><img src="assets/images/dots.svg" alt=""></div>
            </div>

        </div>

        <div class="title">
            Другие девушки для общения
        </div>
        <div class="flex-row">
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-8.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-7.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-6.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-5.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-4.png" alt="Avatar" class="avatar">
                    <div class="status"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-3.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-2.png" alt="Avatar" class="avatar">
                    <div class="status"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4-1.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
            <div class="user-card">
                <div class="ava"><img src="assets/images/ava4.png" alt="Avatar" class="avatar">
                    <div class="status online"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="btn-container" v-show="!ageConfirm">
        <div class="dialog-content">
            <div class="ava">
                <img :src="users[0].avatar" alt="Avatar" class="avatar">
                <div class="status" :class="{ online: users[1].status }"></div>
            </div>
            <div class="column-block">
                <div class="nickname" v-text="users[0].nickname"></div>
                <div class="phrase" style="color: #4C4D5C;">меньше минуты назад</div>
            </div>
        </div>
        <div class="block-second dialog " v-if="!dialogVisible">
            <div class="today">Сегодня</div>
            <div class="message-container">
                <div v-for="(message, index) in messages" :key="index" class="chat">
                    <div v-if="message.type === 'message'"
                         :class="['message left', { active: activeMessages.includes(message) }]" v-text="message.text">
                    </div>
                    <div v-if="message.type === 'noReply'"
                         :class="['noReply', { active: activeMessages.includes(message) }]"  v-text="message.text">
                    </div>
                    <div v-if="message.type === 'photo'"
                         :class="['photo', { active: activeMessages.includes(message) }]" style="width: 100%;"
                         @click="toggleView">
                        <div class="blur" :class="{ open: timerFinished }"></div>
                        <div class="circle-timer" :class="{ hidden: timerFinished }">
                            <!-- Центральная иконка -->
                            <div class="icon">
                                <img src="assets/images/flame.svg" alt="Icon">
                            </div>
                            <!-- Прогресс-бар -->
                            <svg class="progress-circle" :width="size" :height="size">
                                <circle
                                        class="progress-background"
                                        :cx="center"
                                        :cy="center"
                                        :r="radius"
                                        fill="none"
                                        stroke="#eee"
                                        :stroke-width="strokeWidth"
                                ></circle>
                                <circle
                                        class="progress-bar"
                                        :cx="center"
                                        :cy="center"
                                        :r="radius"
                                        fill="none"
                                        stroke="#ffffff"
                                        :stroke-width="strokeWidth"
                                        stroke-linecap="round"
                                        :stroke-dasharray="circumference"
                                        :stroke-dashoffset="dashOffset"
                                ></circle>
                            </svg>
                        </div>
                        <div class="time" :class="{ hidden: timerFinished }" v-text="duration"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-text" v-show="!ageConfirm" @click="onConfirmAge">
        <div class="icon-chat">
            <img src="assets/images/chat.svg" alt=""/>
        </div>
        <div class="placeholder">Написать сообщениe...</div>
    </div>
    <div class="footer" v-show="ageConfirm">
        <div class="footer" v-show="ageConfirm">
            Оплата списывается с основного лицевого счета (баланса) мобильного телефона.
            Если у вас подключена услуга «Отдельный лицевой счёт для оплаты услуг провайдеров»,
            то оплата за сервисы контент-провайдеров списывается с отдельного лицевого счёта (баланса) мобильного
            телефона».
            Отключить подписку вы сможете бесплатно в любой момент. Нажимая
            кнопку Смотреть вы подписываетесь на сервис MyMood, принимаете <a class="main_page_link"
                                                                              href="https://mymood.art/eula">Пользовательское
            соглашение</a>
            и <a class="main_page_link" href="http://mymood.fun/privacy-policy">Политику конфиденциальности</a>
        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
